body {
    /* background-image: url("https://static01.nyt.com/images/2021/01/24/opinion/24Wilkinson_print/22Wilkinson3-videoSixteenByNineJumbo1600.jpg"); */
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}


.Links {
    display: flex;
    float: right;
    padding: 5px;
}
